/* Universal selectors */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing{
    background: url(./imgs/darren-nunis-EEGQ5T62iTI-unsplash.jpg) no-repeat center center/cover;

};

.body{
    background-color: #111 !important;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.grid-container>div:nth-child(1){
    grid-column: 2/3;
    grid-row: 2/3;
}

.pinkbtn{
    background-color: linear-gradient(to top right,rgb(222, 101, 178), rgb(203, 14, 61)) !important;
    border: none;
    padding: 5px;
}
.pinkbtn a{
    background-color: linear-gradient(to top right,rgb(222, 101, 178), rgb(203, 14, 61)) !important;
    border: none;
    padding: 5px;
}



@media only screen and (max-width: 600px){
    #landing{
        background: url(./imgs/darren-nunis-EEGQ5T62iTI-unsplash.jpg) no-repeat center center/cover !important;
    }
    #landingtext{
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 20px;
    top: 300px;
    z-index: 32;
    width: 345px;
    height: 150px;
    transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
    position: absolute;
    }
}